<h1>
  {{title}}
</h1>

  <div style="height:800px">
     <ng2-pdfjs-viewer
         #pdfViewer
         [openFile]="true"
         [download]="true"
         [print]="true"
         [viewBookmark]="false"
         viewerId="document"
         >
     </ng2-pdfjs-viewer>
   </div>



  <!-- <div style="width: 100%; height: 800px">
     <ng2-pdfjs-viewer #pdfViewerAutoLoad></ng2-pdfjs-viewer>
  </div> -->

  <!-- <div style="height: 600px">
     <ng2-pdfjs-viewer
        #pdfViewerOnDemand
        [pdfSrc]="pdfSrc"
        (onBeforePrint)="testBeforePrint()"
        (onAfterPrint)="testAfterPrint()"
        (onDocumentLoad)="testPagesLoaded($event)"
        (onPageChange)="testPageChange($event)"
         [openFile]="false"
         [download]="true"
         [print]="true"
         [viewBookmark]="false"
         viewerId="document">
     </ng2-pdfjs-viewer>
  </div> -->

  <!-- <app-your></app-your> -->
